<Router AppAssembly="@typeof(Main).Assembly"
        AdditionalAssemblies="new[] { typeof(BlazingPizza.PagesViews.Pages.Index).Assembly, 
                                      typeof(BlazingPizza.Components.Shared.MainLayout).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="@routeData"
                   DefaultLayout="@typeof(BlazingPizza.Components.Shared.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(BlazingPizza.Components.Shared.MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
